
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active">
        <button class="btn btn-primary" ng-click="$ctrl.openAddMachine()">Add</button>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Remote Test Exec Manager</h3>
</div>

<div class="bs-examble" data-example-id="panel-without-body-with-table">
  <div class="panel panel-default">
    <div class="panel-heading">Machine list</div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Device Name</th>
          <th>IP Address</th>
          <th>Username</th>
          <th>Password</th>
          <th>Port</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="machine in $ctrl.machineList">
          <td>{{$index + 1}}</td>
          <td>{{machine.deviceName}}</td>
          <td>{{machine.idAddress}}</td>
          <td>{{machine.userName}}</td>
          <td>{{machine.password}}</td>
          <td>{{machine.portNumber}}</td>
          <td class="text-center command-td"><span style="cursor:pointer" class="fa fa-edit" aria-hidden="true"></span></td>
          <td class="text-center command-td"><span style="cursor:pointer; color:#e43309" class="fa fa-remove" aria-hidden="true"></span></td>
          <td class="text-center command-td"><span style="cursor:pointer; color:#3c763d" class="fa fa-play" aria-hidden="true"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
